@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">
                <strong>Welcome <a>@(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</a> </strong> 
                    <span>
                        To LSLS
                    </span>
            </h1>
            <hr />
            <h4>
                <strong>Logical Supporting Logistic System</strong>
                <br />
            </h4>
            <h5>
                is the application for support the logistic company.
                The user can use two platforms together.
                Logical Supporting Logistic System provides on this web application and Android mobile application for used to help each other.
                In the side of company staff and truck's driver for getting more efficient.
            </h5>

            
       
        </div>
    </div>
</div>
