@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="text-center">
        <h2>
            <strong>Welcome @(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</strong>
        </h2>
        <h3>to Logical Supporting Logistic System.</h3>
    </div>
</div>