@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new {id = "logoutForm", @class = "nav"}))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Main", "Account")">@User.Identity.GetUserName()</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
            </li>
        </ul>
    }
}