<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/38e64586-7fdb-4e7a-b66a-fe341c7d428d/resourceGroups/lsls/providers/Microsoft.Web/sites/lsls</ResourceId>
    <ResourceGroup>lsls</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lsls.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lsls.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>lsls</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$lsls</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=lsls.database.windows.net;Initial Catalog=lslsdb;User ID=BoatThanapon;Password=B5o0a2T5;Application Name=EntityFramework" Name="Data Source=lsls.database.windows.net;Initial Catalog=lslsdb;User ID=BoatThanapon;Password=B5o0a2T5;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LSLS.Models.ApplicationDbContext, LSLS" MigrationConfiguration="LSLS.Migrations.Configuration, LSLS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=lsls.database.windows.net;Initial Catalog=lslsdb;User ID=BoatThanapon;Password=B5o0a2T5;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>